@import url('https://fonts.googleapis.com/css?family=Roboto|Lato');

.entry-title,
.main-navigation,
.site-title {
    font-family: 'Lato', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
}

input[type="submit"],
button {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-transform: none;
    padding: .5rem 1rem;
}

.main-navigation li {
    font-size: 1.5rem;

    a {
        padding-top: 0;
    }
}