.landing-title {
  text-align: center;
}

.page-template-landing .site {
  background: url('http://localhost:5004/cerebellum.tif/square/full/0/default.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.page-template-landing .site .site-inner {
  height: 100vh;
  width: 100%;
}
